//# Front-end Style Guide
//
//## Layout
//
//The designs were created to the following widths:
//
//- Mobile: 375px
//- Desktop: 1440px
//
//## Colors
//
//- White: hsl(0, 0%, 100%)
//- Light gray: hsl(212, 45%, 89%)
//- Grayish blue: hsl(220, 15%, 55%)
//- Dark blue: hsl(218, 44%, 22%)
//
//## Typography
//
//### Body Copy
//
//- Font size (paragraph): 15px
//
//### Font
//
//- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
//- Weights: 400, 700
//


$white: hsl(0, 0%, 100%);
$lgray: hsl(212, 45%, 89%);
$gblue: hsl(220, 15%, 55%);
$dblue: hsl(218, 44%, 22%);

body {
    font-size: 15px;
    font-family: 'Outfit';
    background: $lgray;

}
body, h1, p {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center
}
.qr-component {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 15px;
    padding: 1rem;
    max-width: 250px;
    box-shadow: 0px 0px 20px 0px #b3b3b3;

}
.qr-component img {
    border-radius: 15px;

}
.qr-component h1 {
    font-size: 22px;
    text-align: center;
    color: $dblue;
    padding-top: 25px;
}
.qr-component p {
    font-size: 15px;
    text-align: center;
    color: $gblue;
    padding: 10px 0 15px 0;
}


